.bingoCell {
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	overflow: hidden;

	cursor: pointer;
	color: white;
}

/* image plein cadre */
.bingoCellImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* overlay sombre pour lisibilité */
.bingoCell::after {
	content: "";
	position: absolute;
	inset: 0;

	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.222),
		rgba(0, 0, 0, 0.068)
	);

	z-index: 1; /* local */
}

/* texte au-dessus de l’overlay */
.bingoCellText {
	position: absolute;
	z-index: 2;

	bottom: 6px;
	left: 6px;
	right: 6px;

	text-align: center;
	font-weight: bold;

	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0 6px rgba(0, 0, 0, 0.7);
}

/* cadre violet si < 60 ans */
.bingoCellUnder60 {
	outline: 3px solid rgb(240, 7, 7);
	outline-offset: -3px;
}
/* > 85 ans : faible risque → malus */
.bingoCellOver85 {
	outline: 3px solid #2563eb; /* bleu */
	outline-offset: -3px;
}
