* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: system-ui, sans-serif;
	background: #0c0c0c;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}
